body,
.text-monospace,
* {
  font-family: "Vazirmatn", sans-serif !important;
}


.learning-header {
    margin-bottom: 10px !important;
}

#root header .logo img {
    height: 40px !important;
}

#looking-for-challenge-widget {
    display: none !important;
}